# Virtual environment
venv
.venv

# Testing
tests/logs/
.pytest_cache

# Documentation
docs/build/

# Python packaging
*.egg-info

# Caching
__pycache__

# IDEs
.idea/
.vscode/

# Local data
local/
logs/
notebooks/
