# Virtual environment
.venv
venv

# Testing
.pytest_cache
.DS_Store

# Documentation
docs/build/

# Python packaging
*.egg-info

# Caching
__pycache__

# IDEs
.idea/
.vscode/

# Local data
local/
logs/
notebooks/